{% extends "header.html" %}
{% block content %}

<div class="row">
  <div class="col-md-12">
    <form action="{% if id %} /edit/{{ id }} {% else %}/create/{{ cat }} {% endif %}" method="post">

      <div class="form-group col-md-6 col-md-offset-3">
        <label>Name</label>
        <input type="text" name="nameItem" class="form-control" value="{{ old_name }}">
      </div>

      <div class="form-group col-md-6 col-md-offset-3">
        <label>Description</label>
        <textarea type="text" name="descriptionItem" class="form-control">{{ old_description }}</textarea>
      </div>

      <div class="col-md-6 col-md-offset-3">
        <input type="submit" value="{% if id %} Edit {% else %} Create {% endif %}" class="btn btn-primary">
      </div>

    </form>

  </div>
</div>

{% endblock %}
