{% extends "header.html" %}
{% block content %}

{% if error %}
<div class="row">
  <div class="col-md-12">
    <div class="alert alert-danger">
      <h4 class="text-center">{{ error }}</h4>
    </div>
  </div>
</div>
{% endif %}


<div class="row">
  <div class="col-md-12">
    {% with messages = get_flashed_messages() %}
    {% if messages %}

    <div class="alert alert-danger">
      {% for message in messages %}
        <h4 class="text-center">{{ message }}</h4>
      {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>{{ cat }} Items</h2>
  </div>
</div>

{% if items|length != 0  %}

<div class="row">
  <div class="col-md-12">
    <ul class="list-unstyled">
      {%for item in items%}
      <li><a href="/resume/{{ item.item_id }}">{{ item.name }}</a></li>      
      {% endfor %}
    </ul>
  </div>
</div>
{% else %}
  <h3>0 items</h3>
{% endif %}

<div class="row">
  <div class="col-md-6">
    <a href="/create/{{ cat }}" class="btn btn-primary">Create item</a>
  </div>

</div>


{% endblock %}
