{% extends "header.html" %}
{% block content %}

<div class="row">
  <div class="col-md-12">
    <form action="/create/{{ cat }}" method="post">

      <div class="form-group col-md-6 col-md-offset-3">
        <label>Name</label>
        <input type="text" name="nameItem" class="form-control">
      </div>

      <div class="form-group col-md-6 col-md-offset-3">
        <label>Description</label>
        <textarea type="text" name="descriptionItem" class="form-control"></textarea>
      </div>

      <div class="form-group col-md-6 col-md-offset-3">
        <label>Price</label>
        <input type="text" name="priceItem" class="form-control">
      </div>

      <div class="col-md-6 col-md-offset-3">
        <input type="submit" value="Create" class="btn btn-primary">
      </div>

    </form>

  </div>
</div>

{% endblock %}
